@charset "ISO-8859-1";

*
{
	font-family: "Verdana";
}

body
{
	text-align: center;
	margin: 0px;
}

a
{
	color: #000000;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

h1
{
	color: #1E9BDE;
	background-color: #EEEEEE;
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-left: 10px solid #1E9BDE;
	border-right: 10px solid #1E9BDE;
	border-top: 2px solid #1E9BDE;
	border-bottom: 2px solid #1E9BDE;
	border-radius: 30px;
}

fieldset
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	border-color: #1E9BDE;
	/*border: none;*/
}

input,
textarea,
select
{
	border: 2px solid #1E9BDE;
	height: 35px;
	margin-bottom: 6px;
}

select
{
	width: auto;
}

textarea
{
	width: 300px;
	height: 80px;
	min-height: 80px;
	min-width: 300px;
	max-height: 80px;
	max-width: 300px;
	resize: none;
}

input[type=text],
input[type=password],
select
{
	font-size: 16px;
	width: 200px;
	padding-left: 8px;
}

input[type=date]
{
	font-size: 16px;
	width: 140px;
	padding-left: 8px;
}

input[type=button],
input[type=submit]
{
	background-color: #1E9BDE;
	border-bottom: 3px solid #0153B0;
	border-top: 1px solid #0153B0;
	border-left: 1px solid #0153B0;
	border-right: 1px solid #0153B0;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 5px 8px;
	vertical-align: middle;
}

input[type=button]:hover,
input[type=submit]:hover
{
	background-color: #69C5EE;
	border-color: #1E9BDE;
}

table
{
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	font-size: 14px;
	border-spacing: 1px;
}

td
{
	padding: 3px;
}

tr:nth-child(even)
{
	background-color: #DDDDDD;
}

tr:nth-child(odd)
{
	background-color: #FFFFFF;
}

th
{
	background-color: #1E9BDE;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 3px;
}

div#logoSystem
{
	background-color: #1E9BDE;
	height: 70px;
}

div#messageError
{
	background-color: #D40000;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	color: #FFFFFF;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#messageSuccess
{
	background-color: #0BAF00;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	color: #FFFFFF;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#userLoggedIn
{
	background-color: #7BC2E5;
	color: #FFFFFF;
	line-height: 40px;
}

div#categoriesFoodGeneral
{
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin: 10px;
}

div#categoriesFoodOption
{
	background-color: #FFFFFF;
	float: left;
	height: 130px;
	margin-left: 10px;
	margin-right: 10px;
}

div#restaurantOption
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

div#foodOptions
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

div#orderStatus
{
	margin-left: auto;
	margin-right: auto;
}

div#revenues
{
	border-width: 2px;
}

img#logoSystem
{
	height: 60%;
	vertical-align: middle;
}

img#iconUser
{
	width: 100px;
}

img#iconCart
{
	height: 50px;
}

img#categoriesFood
{
	height: 50%;
}

img#restaurantOption
{
	height: 130px;
}

img#foodOption
{
	height: 130px;
}

img#orderStatus
{
	width: 400px;
}

img#foodProfile
{
	height: 65px;
}

span#auxVertAlign
{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

span#restaurantOptionTitle
{
	font-weight: bold;
	text-transform: uppercase;
}

span#messageError
{
	background-color: #D40000;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	color: #FFFFFF;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

span#revenues
{
	border-radius: 5px;
	border-width: 2px;
	border-color: #1E9BDE;
	color: white;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #1E9BDE;
}

span#revenuesTitle
{
	border-radius: 5px;
	border-width: 2px;
	border-color: #1E9BDE;
	color: white;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #1576AA;
}

fieldset#filters
{
	border-width: 1px;
}

fieldset#noBorder
{
	border: none;
}

input#selected
{
	background-color: #69C5EE;
	border-color: #1E9BDE;
}

input#cardNumber
{
	width: 17ch;
}

input[type=button]#accDeleteBtn
{
	background-color: #8C0000;
	border-bottom: 3px solid #640000;
	border-top: 1px solid #640000;
	border-left: 1px solid #640000;
	border-right: 1px solid #640000;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 5px 8px;
}

input[type=button]:hover#accDeleteBtn
{
	background-color: #FF0000;
	border-color: #8C0000;
}

input[type=text]#logIn
{
	width: 140px;
}

input[type=password]#logIn
{
	width: 140px;
}

textarea#foodOption
{
	height: 70px;
}

.inputError
{
	border: 2px solid #FF2828;
}


/*create Select Amount clieentRestaurate*/